@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


*{
  margin: 0;
  padding: 0;
}

.wrapper{
  margin: 0 auto;
  width: 1000px;
}
body{
  margin:0;
  padding: 0;
  font-family: arial;
  background-color: #F0E7D8;

}


.img-Myself{
  width: 300px;
  height: 400px;

}

nav{
  width: 85;
  height: 85px;
  background-color: #AB9B96;

}

u1{
margin-right: 10px;
}

u1 li{
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 100px;
}

u1 li a{
  display: block;
text-decoration: none;
font-size: 10px;
font-family: arial;
color: #1e1e1e;
padding: 0 20px;
}


h2{
  color: #343434;
  font-family: 'Abril Fatface', cursive;
  font-size: 50px;
  text-align: center;
  padding-right: 200px;
}

h3{
  color: #343434;
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
}

.container {
display: flex;



}

img{
max-width: 70%


}






.img-col > div{
  flex-basis: 50%
}

.box{

  width: 3000px;
  height: 10px;
  padding-top: 0px;

}

h4{
  color: Black;
  font-size: 60px;
  padding-top: 0px;
}
